<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction</title>
</head>
<body>
    <center>
    <div class="container">
        <!-- Content here -->
        <h1 class = card-title>PREDICTION</h1>
        {%if prediction == 0%}
            <h1 class = card-title>Iris Flower is setosa</h1>
            <div class="card bg-dark text-white">
                <img src="static\setosa.jpg" class="card-img" alt="...">
                <div class="card-img-overlay">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text">Last updated 3 mins ago</p>
                </div>
            </div>
        {%elseif prediction == 1%}
            <h1 class = card-title>Iris Flower is versicolor</h1>
            <div class="card bg-dark text-white">
                <img src="static\versicolor.jpg" class="card-img" alt="...">
                <div class="card-img-overlay">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text">Last updated 3 mins ago</p>
            </div>
        {%else%}
            <h1 class = card-title>Iris Flower is virginica</h1>
            <div class="card bg-dark text-white">
                <img src="static\virginica.jpg" class="card-img" alt="...">
                <div class="card-img-overlay">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text">Last updated 3 mins ago</p>
            </div>
        {%endif%}
        <a class="btn btn-primary" href="{{ url_for('prediction')}}" role="button">Back</a>

    </div>
    </center>
</body>
</html>

<div class="card bg-dark text-white">
    <img src="..." class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text">Last updated 3 mins ago</p>
    </div>
</div>